  1{% extends "layout.html" %}

{% block content %}
<h2>Album List</h2>
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Location</th>
			<th>Files</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for album in albums %}
		<tr>
			<td>{{ album.Name }}</td>
			<td>{{ album.Path }}</td>
			<td>{{ album.Count }}</td>
			<td><a class="btn btn-sm btn-danger btn-delete"  data-target="{{ album.Name }}" href="#">Delete</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<div class="panel panel-primary">
    <div class="panel panel-heading">
        <h3 class="panel-title">Input new album location</h3>
    </div>
    <div class="panel-body">
        <p>
            <form id="albumInput" class="form-horizontal" action="/" >
                <fieldset>
                    <div class="form-group">
                        <label for="name" class="col-lg-2 control-label">Album Name</label>
                        <div class="col-lg-10">
                            <input class="form-control" type="text" name="name" id="name" placeholder="Trip Photos" required />
                        </div>
					</div>
					<div class="form-group">
						<label for="location" class="col-lg-2 control-label">Path</label>
                        <div class="col-lg-10">
                            <input class="form-control" type="text" name="location" id="location" placeholder="/media/Multimedia/Photos/" required />
                        </div>
					</div>
                    <div class="form-group">
						<div class="col-lg-10 col-lg-offset-2">
							<button class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </p>
    </div>
</div>
        <p>
            <form id="albumInput" class="form-horizontal" action="/" >
                <fieldset>
                    <div class="form-group">
                        <label for="name" class="col-lg-2 control-label">Album Name</label>
                        <div class="col-lg-10">
                            <input class="form-control" type="text" name="name" id="name" placeholder="Trip Photos" required />
                        </div>
					</div>
					<div class="form-group">
						<label for="location" class="col-lg-2 control-label">Path</label>
                        <div class="col-lg-10">
                            <input class="form-control" type="text" name="location" id="location" placeholder="/media/Multimedia/Photos/" required />
                        </div>
					</div>
                    <div class="form-group">
						<div class="col-lg-10 col-lg-offset-2">
							<button class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </p>
    </div>

<a class="btn btn-lg btn-primary" href="{{ url_for('input') }}">Create New</a>
{% endblock %}

{% block scripts %}
<script type="text/javascript" >
	function deleteAlbum(locName) {
		$.ajax({
			type: "DELETE",
			url: "{{ url_for('deleteLocation') }}",
			data: {"name": locName },
			success: function(msg){
				location.reload(true)
			}
		});
	}
	
	$(document).ready(function() {
		$('.btn-delete').click(function() {
			deleteAlbum($(this).attr('data-target'));
		});
	});
</script>
{% endblock %}
