{% extends "layout.html" %}

{% block content %}
<div class="panel panel-primary">
    <div class="panel panel-heading">
        <h3 class="panel-title">Input new album location</h3>
    </div>
    <div class="panel-body">
        <p>
            <form id="albumInput" class="form-horizontal" action="/" >
                <fieldset>
                    <div class="form-group">
                        <label for="name" class="col-lg-2 control-label">Album Name</label>
                        <div class="col-lg-10">
                            <input class="form-control" type="text" name="name" id="name" placeholder="Trip Photos" required />
                        </div>
					</div>
					<div class="form-group">
						<label for="location" class="col-lg-2 control-label">Path</label>
                        <div class="col-lg-10">
                            <input class="form-control" type="text" name="location" id="location" placeholder="/media/Multimedia/Photos/" required />
                        </div>
					</div>
                    <div class="form-group">
						<div class="col-lg-10 col-lg-offset-2">
							<button class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </p>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" >
	function createAlbum() {
		var form = new FormData();
		form.append("name", $('#name').val());
		form.append("location", $('#location').val());
		$.ajax({
			type: "POST",
			url: "{{ url_for('addLocation') }}",
			data: $('#albumInput').serialize(),
			success: function(msg){
				window.location.href = "/list";
			}
		});
	}
	
	$('form').submit(function(e) {
		createAlbum();
		e.preventDefault();
	});
</script>
{% endblock %}
