{% extends "layout.html" %}

{% block content %}
<div class="panel panel-info">
	<div class="panel panel-heading">
		<h3 class="panel-title">Choose folder location</h3>
	</div>
	<div class="panel-body">
		<p>
			<form class="form-horizontal" action="/start" method="post">
				<fieldset>
					<div class="input-group">
						<label for="path" class="col-lg-2 control-label">Path</label>
						<div class="col-lg-10">
							<select class="form-control" id="folderPath" name="folderPath">
							  {% for location in locations %}
							  <option value="{{ location }}">{{ location }}</option>
							  {% endfor %}
							</select>
						</div>
					</div>
					<div class="input-group">
						<button type="submit" class="btn btn-primary">Launch</button>
					</div>
				</fieldset>
			</form>
		</p>
	</div>
</div>
{% endblock %}
