{% extends "layout.html" %}

{% block content %}
<div class="panel panel-info">
	<div class="panel panel-heading">
		<h3 class="panel-title">Choose folder location</h3>
	</div>
	<div class="panel-body">
		<p>
			<form class="form-horizontal" action="{{ url_for('startGet') }}" method="get" >
				<fieldset>
					<div class="form-group">
						<label for="path" class="col-lg-2 control-label">Path</label>
						<div class="col-lg-10">
							<select class="form-control" name="folderPath">
							  {% for location in locations %}
							  <option value="{{ location }}">{{ location }}</option>
							  {% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-10 col-lg-offset-2">
						<input type="submit" class="btn btn-primary" value="Launch">
						</div>
					</div>
				</fieldset>
			</form>
		</p>
	</div>
</div>
{% endblock %}
